<div class="row container-Bg">
    <div class="col-md-4 justify-summary ping-bg">
        <!-- <div class="bubble-img">
            <img src="../../../../assets/image/summary-bubble.png" alt="">
        </div> -->
        <div class="col-md-11 counters-innerElem">
            <div class="row firstRow-Counter">
                <img class="summary-img col-md-auto" src="../../../assets/image/icon1.png" alt="">
                <p class="summary-txt p-0 col-md-auto">Target Overview</p>
            </div>
            <div class="row secondRow-counter">
                <div class="col-md-4 p-0 txt-c">$12,000.00</div>
                <div class="col-md-2 p-0">/$14k</div>
                <div class="col-md-2 p-0"><img src="../../../assets/image/uparrow.svg" alt="">18%</div>
                <div class="col-md-4 p-0 target-txt">Target per month</div>
            </div>
            
        </div>
    </div>
    <div class="col-md-4 justify-summary blue-bg">
        <div class="col-md-11 counters-innerElem">
            <div class="row firstRow-Counter">
                <img class="summary-img col-md-auto" src="../../../assets/image/icon1.png" alt="">
                <p class="summary-txt p-0 col-md-auto">Total Projects</p>
            </div>
            <div class="row thirdRow-counter">
                <div class="col-md-8 count-No">320</div>
                <div class="col-md-3 txt-right p-0"><img src="../../../assets/image/uparrow.svg"
                        alt="">18%</div>
            </div>
        </div>
    </div>
    <div class="col-md-4 justify-summary pale-bg">
        <div class="col-md-11 counters-innerElem">
            <div class="row firstRow-Counter">
                <img class="summary-img col-md-auto" src="../../../assets/image/icon1.png" alt="">
                <p class="summary-txt p-0 col-md-auto">New Leads</p>
            </div>
            <div class="row thirdRow-counter">
                <div class="col-md-8 count-No">320</div>
                <div class="col-md-3 txt-right p-0"><img src="../../../assets/image/uparrow.svg"
                        alt="">18%</div>
            </div>
        </div>
    </div>
</div>