<div class="row">
    <div class="dialogue-head col-md-8">
        <h5 mat-dialog-title *ngIf="!isEditMode">Add New Subscription</h5> 
        <h5 mat-dialog-title *ngIf="isEditMode">Subscription Info</h5> 
    </div>
    <div class="close-Btns col-md-4">
        <div class="card close-Card" [mat-dialog-close]>
            <img src="../../../../../assets/image/fi_x.png" alt="">
        </div>
    </div>
</div>
<div class="addform-container"> 
    <form [formGroup]="addsubscriptionForm" (ngSubmit)="onSubmit(addsubscriptionForm)">
        <div class="row">
            <div class="col-md-6">
                <label class="dialogue-label" for="planid">Plan</label>
                <select formControlName="planid" name="planid" class="w-100 input-Class" (change)="calculatedays($event)">
                    <option *ngFor="let item of planList" [value]="item._id">{{item.planname}}</option>
                </select>
            </div>
            <div class="col-md-6">
                <label class="dialogue-label" for="lead_id">Lead</label>
                <select formControlName="lead_id" name="lead_id" class="w-100 input-Class">
                    <option *ngFor="let item of leadList" [value]="item._id">{{item.name}}</option>
                </select>
            </div>
            <div class="col-md-6">
                <label class="dialogue-label" for="startdate">Start Date</label>
                <mat-form-field appearance="fill" class="col-md-12 datepickerInput">
                    <!-- <mat-label>Choose a date</mat-label> -->
                    <input matInput [matDatepicker]="picker" formControlName="startdate" name="startdate" placeholder="MM/DD/YYYY" (dateChange)="calcdates($event)">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
            </div>
            <div class="col-md-6">
                <label class="dialogue-label" for="enddate">End Date</label>
                <mat-form-field appearance="fill" class="col-md-12 datepickerInput">
                    <!-- <mat-label>Choose a date</mat-label> -->
                    <input matInput [matDatepicker]="picker1" formControlName="enddate" name="enddate" placeholder="MM/DD/YYYY">
                    <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
            </div>
            <div class="col-md-6">
                <label class="dialogue-label" for="maxenddate">Max End Date</label>
                <mat-form-field appearance="fill" class="col-md-12 datepickerInput">
                    <!-- <mat-label>Choose a date</mat-label> -->
                    <input matInput [matDatepicker]="picker2" formControlName="maxenddate" name="maxenddate" placeholder="MM/DD/YYYY">
                    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
            </div>
            
        </div>
        <div class="button col-md-12">
            <button type="submit" class="createLead-Btns" *ngIf="!isEditMode && !readonly">Add Subscription</button>
            <button type="submit" class="createLead-Btns" *ngIf="isEditMode && !readonly">Save</button>
            <button type="submit" class="createLead-Btns" *ngIf="readonly" [mat-dialog-close]="">Close</button>

        </div>
    </form>
</div>